<h2>Editing Entry On... <u><%= @book.title %></u></h2>

<form action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  Title: <input type="text" name="title" value="<%= @book.title %>"><br>
  Author: <input type="text" name="author" value="<%= @book.author %>"><br>
  Year Of Publication: <input type="text" name="year_of_publication" value="<%= @book.year_of_publication %>"><br>
  Category: Fiction <input type="radio" name="category" value="Fiction" <%='checked' if @book.category == "Fiction" %>>
    Non-Fiction <input type="radio" name="category" value="Non-Fiction" <%='checked' if @book.category == "Non-Fiction" %>>
    Poetry <input type="radio" name="category" value="Poetry" <%='checked' if @book.category == "Poetry" %>>
    Drama <input type="radio" name="category" value="Drama" <%='checked' if @book.category == "Drama" %>><br>
  Genre: <input type="text" name="genre" value="<%= @book.genre %>"><br>
  Progress: Unread <input type="radio" name="progress" value="Unread" <%='checked' if @book.progress == "Unread" %>>
    In Progress <input type="radio" name="progress" value="In Progress" <%='checked' if @book.progress == "In Progress" %>>
    Finished <input type="radio" name="progress" value="Finished" <%='checked' if @book.progress == "Finished" %>><br>
  Rating (0-5 low to high): 0 <input type="radio" name="user_rating" value="0" <%='checked' if @book.user_rating == 0 %>>
    1 <input type="radio" name="user_rating" value="1" <%='checked' if @book.user_rating == 1 %>>
    2 <input type="radio" name="user_rating" value="2" <%='checked' if @book.user_rating == 2 %>>
    3 <input type="radio" name="user_rating" value="3" <%='checked' if @book.user_rating == 3 %>>
    4 <input type="radio" name="user_rating" value="4" <%='checked' if @book.user_rating == 4 %>>
    5 <input type="radio" name="user_rating" value="5" <%='checked' if @book.user_rating == 5 %>><br>
  Your Thoughts On This Book: <input type="textarea" name="user_review" value="<%= @book.user_review %>"><br>
  <input type="submit" value="Edit Book">
</form>
<form action="/logout" method="POST">
  <input type="submit" value="Log Out">
</form>
