<h2>All Books Currently Being Tracked On Novellogger</h2>
<% @users.each do |user| %>
  <h3><a href="/users/<%= user.id %>"><%= user.username %>'s</a> Books:</h3><br>
  <% user.books.each do |book| %>
    <a href="/books/<%= book.id %>"><%= book.title %></a> by : <%= book.author %><br>
  <% end %>
  <br>
<% end %>
